* {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fef5d8;
}

button {
  padding: .5rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

#home-button {
  display: none;
  margin: auto;
}

.home {
  text-align: center;

  & * {
    margin: 10px 0;
  }

  & #join-room-input {
    width: 5rem;
    padding: .25rem;
  }
}

.header {
  display: none;
  margin: 10px;

  & > h1 {
    text-align: center;
  }
}

.players {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.board {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.cell {
  padding: 0;
  font-size: 2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  transition: .5s;

  &:hover {
    background-color: black;
    color: goldenrod;
  }
}

.modal,
.error-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .4);
  font-size: x-large;
}

.modal-content,
.error-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  width: 30%;
  border: 1px solid #888;
  animation: slide-from-top .4s;
}

.modal-header,
.modal-footer {
  padding: 8px 16px;
  background-color: #215921;
  color: white;

  & > p {
    text-align: center;
  }
}

.modal-body {
  padding: 8px 16px;
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
  }
}

@keyframes slide-from-top {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}